tr:nth-child(even) {
  background-color: #f2f2f2;
}

.generic-input {
  border: 0;
  outline: none;
  background-color: transparent;
}

table {
  width: 100%;
}

tr {
  cursor: pointer;
  height: 50px;
}

.save-button {
  background-color: #e3833c;
  transition: 0.5s ease-in;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}
